a {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  padding: 25px;
}

.account-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}
