.content-home {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.videos {
  width: 100%;
  max-width: 700px;
}

#title {
  margin-top: 20px;
}
