.quantity-container-sc {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100px;
  height: 20px;
  border: 1px solid lightgray;
}

.cost {
  margin-left: 25px;
}

.icon-button {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.icon-button-left {
  border-right: 1px solid #e7e6e6;
}

.icon-button-right {
  border-left: 1px solid lightgray;
}

#add-icon,
#remove-icon {
  font-size: 15px;
}

.icon-button-disabled {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:#a09f9f;
}
